.background {
	background-image: url("./Assets/background.svg");
	color: rgb(184, 198, 134);
	height: 100vh;
}

.App {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 94vh;
}
